.jumbotron {
  padding-top: 6rem;
  background-color: #3578e5;
  color: #fff;
}

.jumbotron .display-4 {
  font-size: 48px;
  font-weight: bold;
}

.jumbotron .lead {
  font-size: 24px;
}

#history {
  background-color: #3578e5;
}

#history .row h2 {
  color: #fff;
}

footer {
  background-color: #303846;
}

section {
  padding-top: 5rem;
}

#contact {
  background-color: #fff;
}

#contact .btn {
  background-color: #303846;
  color: #fff;
}
